<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  <%= form_tag("/name", method: "get") do %>
  <%= label_tag(:q, "Name:") %>
  <%= text_field_tag(:q) %>
<% end %>
  
  <%= form_tag("/email", method: "get") do %>
  <%= label_tag(:q, "Email:") %>
  <%= text_field_tag(:q) %>
<% end %>
  
  <%= form_tag("/message", method: "get") do %>
  <%= label_tag(:q, "Input Message Here:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Send") %>
<% end %>
</p>