<div class="center jumbotron">
  <h1>Welcome to this app!</h1>

  <h2>
  The app is currently under development, so not all features work as expected.... Sorry!
  </h2>
  
  <p> This would be the search bar for the website: However due to time problems, this could not be implemented... A rudimentary version of using imsdb's search has been added below as a workaround </P
    <%= form_tag("/search", method: "get") do %>
  <%= label_tag(:q, "Search for films:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
    <% end %>

<form action="http://www.imsdb.com/search.php" method="POST">
  <table width="144" border="1" align=center>
    <tr><td align="center"><input name="search_query" value size="19" maxlength="64"></td></tr>
    <tr><td align="center"><input type="image" border="1" src="http://www.imsdb.com/images/searchbutton.gif" style="border: 1px solid black;" title="Search the Internet Movie Script Database" width=138 height=56></td></tr>
  </table>
</form>
  
<%= link_to image_tag("rails.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %>